body {
  font-family: 'Orbitron', sans-serif;
  background-color: #f9fafb;
  color: #111827;
  margin: 0;
  padding: 1rem;
}

h1, h2, h3 {
  font-family: 'Permanent Marker', cursive;
  color: #111;
}

nav {
  font-family: 'Orbitron', sans-serif;
  background-color: #111;
  color: white;
  padding: 0.5rem;
}

nav a {
  color: white;
  margin-right: 10px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}
